h1{
    text-align:16px;
    
    font-family:black; 
}


p{
text-align:12px;
}

*{
font-family:arial;
}

hr{
height:5px;
background-color:black;
}

h2{
    text-align:14px;
   
    
}



table{
    text-align:12px;
    
}


ol{
    text-align:12px;
}

h2{
    text-align:14px;
}

ul{
    text-align:12px;
}

*{
 background:burlywood;
 
   
}

*{
    color:black;
}






  
 
    
 

